

```
# This is formatted as code
```

# Capstone Project: NLP - Safebot - FastText

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fexperimentsandconfigs%20https%3a%2f%2fwww.googleapis.com%2fauth%2fphotos.native&response_type=code

Enter your authorization code:
4/1AX4XfWjXRMzhx7bqFq-0-VdPli1btUFcPpgofmt11U7fvsASp7ImjLPrf6U

In [ ]:
%cd '/content/gdrive/My Drive/NLP_Capstone_Project'

/content/gdrive/My Drive/NLP_Capstone_Project

In [ ]:
!ls -l

total 2042960
-rw------- 1 root root    4304799 Sep 23 19:06 0.2.0.zip
-rw------- 1 root root    4304799 Sep 24 11:08 0.2.0.zip.1
-rw------- 1 root root    4304799 Sep 25 05:14 0.2.0.zip.2
drwx------ 2 root root       4096 Dec 18  2018 fastText-0.2.0
-rw------- 1 root root     131028 Sep 25 11:19 fasttext_industrial_data.txt
-rw------- 1 root root     136924 Sep 25 11:26 fasttext_industrial_preprocessed.txt
-rw------- 1 root root     107836 Sep 25 11:27 ft_ind_data.train
-rw------- 1 root root      29088 Sep 25 11:27 ft_ind_data.valid
-rw------- 1 root root    1657390 Sep 25 11:25 ft_model.bin
-rw------- 1 root root 1037962819 Sep 21  2019 glove.6B.300d.txt
-rw------- 1 root root 1037962830 Sep 24 11:04 glove.6B.300d.txt.word2vec
-rw------- 1 root root     193631 Sep 24 11:58 industrial_safety_and_health_database_with_accidents_description.csv
-rw------- 1 root root     888292 Sep 23 08:04 Industrial_safety__NLP_based_Chatbot.ipynb

In [ ]:
# !unzip '/content/drive/MyDrive/AIML/NLP/Capstone Project/Data Set - industrial_safety_and_health_database_with_accidents_description.csv.zip'

In [ ]:
!ls -l

total 2042960
-rw------- 1 root root    4304799 Sep 23 19:06 0.2.0.zip
-rw------- 1 root root    4304799 Sep 24 11:08 0.2.0.zip.1
-rw------- 1 root root    4304799 Sep 25 05:14 0.2.0.zip.2
drwx------ 2 root root       4096 Dec 18  2018 fastText-0.2.0
-rw------- 1 root root     131028 Sep 25 11:19 fasttext_industrial_data.txt
-rw------- 1 root root     136924 Sep 25 11:26 fasttext_industrial_preprocessed.txt
-rw------- 1 root root     107836 Sep 25 11:27 ft_ind_data.train
-rw------- 1 root root      29088 Sep 25 11:27 ft_ind_data.valid
-rw------- 1 root root    1657390 Sep 25 11:25 ft_model.bin
-rw------- 1 root root 1037962819 Sep 21  2019 glove.6B.300d.txt
-rw------- 1 root root 1037962830 Sep 24 11:04 glove.6B.300d.txt.word2vec
-rw------- 1 root root     193631 Sep 24 11:58 industrial_safety_and_health_database_with_accidents_description.csv
-rw------- 1 root root     888292 Sep 23 08:04 Industrial_safety__NLP_based_Chatbot.ipynb

In [6]:
# Importing the library
#import plotly
#print(plotly.__version__)
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#import plotly.express as px
#import plotly.graph_objects as go
#import plotly.io as pio
#pio.renderers.default = 'colab'
from sklearn.impute import SimpleImputer
# Basic packages
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns, gc
from scipy import stats; from scipy.stats import zscore, norm, randint
import matplotlib.style as style; style.use('fivethirtyeight')
# Models
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, cross_val_score, learning_curve
#from wordcloud import WordCloud, STOPWORDS

# Display settings
pd.options.display.max_rows = 400
pd.options.display.max_columns = 100
pd.options.display.float_format = "{:.2f}".format

random_state = 42
np.random.seed(random_state)

# Suppress warnings
import warnings; warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv('industrial_safety_and_health_database_with_accidents_description.csv')
print(df.shape)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'industrial_safety_and_health_database_with_accidents_description.csv'

In [5]:
ds = df.copy()
ds.drop('Unnamed: 0',1, inplace = True)

NameError: name 'df' is not defined

In [ ]:
ds.info()

In [ ]:
# Displaying the columns
ds.columns

In [ ]:
ds.rename(columns= {'Data':'Date', 'Countries':'Country', 'Genre':'Gender',
                    'Employee or Third Party':'Employee type'}, inplace =True)
ds.head()

,Date,Country,Local,Industry Sector,Accident Level,Potential Accident Level,Gender,Employee type,Critical Risk,Description
0,2016-01-01 00:00:00,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...
1,2016-01-02 00:00:00,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...
2,2016-01-06 00:00:00,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...
3,2016-01-08 00:00:00,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...
4,2016-01-10 00:00:00,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...

## Data Preparation for Time Series Analysis

In [ ]:
ds['Date'] = pd.to_datetime(ds['Date'])
ds['Year'] = ds['Date'].apply(lambda x: x.year)
ds['Month'] = ds['Date'].apply(lambda x: x.month)
ds['Day'] = ds['Date'].apply(lambda x: x.day)
ds['Weekday'] = ds['Date'].apply(lambda x: x.day_name())
ds.head()

,Date,Country,Local,Industry Sector,Accident Level,Potential Accident Level,Gender,Employee type,Critical Risk,Description,Year,Month,Day,Weekday
0,2016-01-01,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...,2016,1,1,Friday
1,2016-01-02,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...,2016,1,2,Saturday
2,2016-01-06,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...,2016,1,6,Wednesday
3,2016-01-08,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...,2016,1,8,Friday
4,2016-01-10,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...,2016,1,10,Sunday

In [ ]:
# Defining a function to creat new feature called Quater
def month_quater_conversion(x):
  if x in [1, 2, 3]:
    season = 'First'
  elif x in [4, 5, 6]:
    season = 'Second'
  elif x in [7, 8, 9]:
    season = 'Third'
  elif x in [10, 11, 12]:
    season = 'Fourth'
  return season

ds['Quater'] = ds['Month'].apply(month_quater_conversion)
ds.head()

,Date,Country,Local,Industry Sector,Accident Level,Potential Accident Level,Gender,Employee type,Critical Risk,Description,Year,Month,Day,Weekday,Quater
0,2016-01-01,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...,2016,1,1,Friday,First
1,2016-01-02,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...,2016,1,2,Saturday,First
2,2016-01-06,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...,2016,1,6,Wednesday,First
3,2016-01-08,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...,2016,1,8,Friday,First
4,2016-01-10,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...,2016,1,10,Sunday,First

In [ ]:
ds['Accident Level'].unique()

array(['I', 'IV', 'III', 'II', 'V'], dtype=object)

In [ ]:
ds['Potential Accident Level'].unique()

array(['IV', 'III', 'I', 'II', 'V', 'VI'], dtype=object)

In [ ]:
# Defining the level as per Accident Level
def Accident_level_conversion(x):
  if x in ['I','II']:
    level = 'Low'
  elif x in ['III']:
    level = 'Medium'
  elif x in ['IV', 'V', 'VI']:
    level = 'High'
  return level

In [ ]:
ds['Accident Severity'] = ds['Accident Level'].apply(Accident_level_conversion)

In [ ]:
ds['Potential Severity'] = ds['Potential Accident Level'].apply(Accident_level_conversion)

In [ ]:
ds.head()

,Date,Country,Local,Industry Sector,Accident Level,Potential Accident Level,Gender,Employee type,Critical Risk,Description,Year,Month,Day,Weekday,Quater,Accident Severity,Potential Severity
0,2016-01-01,Country_01,Local_01,Mining,I,IV,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...,2016,1,1,Friday,First,Low,High
1,2016-01-02,Country_02,Local_02,Mining,I,IV,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...,2016,1,2,Saturday,First,Low,High
2,2016-01-06,Country_01,Local_03,Mining,I,III,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...,2016,1,6,Wednesday,First,Low,Medium
3,2016-01-08,Country_01,Local_04,Mining,I,I,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...,2016,1,8,Friday,First,Low,Low
4,2016-01-10,Country_01,Local_04,Mining,IV,IV,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...,2016,1,10,Sunday,First,High,High

## Replacing categorical values

In [ ]:
replace_value = {'Local_01':1, 'Local_02':2, 'Local_03':3, 'Local_04':4, 'Local_05':5, 'Local_06':6, 'Local_07':7, 'Local_08':8, 
                 'Local_10':10, 'Local_09':9, 'Local_11':11, 'Local_12':12}
ds['Local'] = ds['Local'].map(replace_value)

replace_value = {'I':1, 'IV':4, 'III':3, 'II':2, 'V':5}
ds['Accident Level'] = ds['Accident Level'].map(replace_value)

replace_value = {'IV':4, 'III':3, 'I':1, 'II':2, 'V':5, 'VI':6}
ds['Potential Accident Level'] = ds['Potential Accident Level'].map(replace_value)

del replace_value

ds.head()

,Date,Country,Local,Industry Sector,Accident Level,Potential Accident Level,Gender,Employee type,Critical Risk,Description,Year,Month,Day,Weekday,Quater,Accident Severity,Potential Severity
0,2016-01-01,Country_01,1,Mining,1,4,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...,2016,1,1,Friday,First,Low,High
1,2016-01-02,Country_02,2,Mining,1,4,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...,2016,1,2,Saturday,First,Low,High
2,2016-01-06,Country_01,3,Mining,1,3,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...,2016,1,6,Wednesday,First,Low,Medium
3,2016-01-08,Country_01,4,Mining,1,1,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...,2016,1,8,Friday,First,Low,Low
4,2016-01-10,Country_01,4,Mining,4,4,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...,2016,1,10,Sunday,First,High,High

# Exploratory Data Analysis

In [ ]:
# Removong stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
ds['clean_Description'] = ds['Description'].apply(lambda x: ' '.join([words for words in x.split() if words not in stopwords]))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

# Design, train and test with Fast Text classifiers

# Installing and using Fastext now for Classification

In [ ]:
pip install fasttext

Collecting fasttext
  Downloading fasttext-0.9.2.tar.gz (68 kB)
     || 68 kB 4.6 MB/s
Collecting pybind11>=2.2
  Using cached pybind11-2.7.1-py2.py3-none-any.whl (200 kB)
Requirement already satisfied: setuptools>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from fasttext) (57.4.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fasttext) (1.19.5)
Building wheels for collected packages: fasttext
  Building wheel for fasttext (setup.py) ... done
  Created wheel for fasttext: filename=fasttext-0.9.2-cp37-cp37m-linux_x86_64.whl size=3093793 sha256=071804a4d934f98c5eaafe5804519e78fd9503ebccbb644bb8b2802fbfcb28ad
  Stored in directory: /root/.cache/pip/wheels/4e/ca/bf/b020d2be95f7641801a6597a29c8f4f19e38f9c02a345bab9b
Successfully built fasttext
Installing collected packages: pybind11, fasttext
Successfully installed fasttext-0.9.2 pybind11-2.7.1

In [ ]:
import fasttext
import csv

In [ ]:
ds.head(10)

,Date,Country,Local,Industry Sector,Accident Level,Potential Accident Level,Gender,Employee type,Critical Risk,Description,Year,Month,Day,Weekday,Quater,Accident Severity,Potential Severity,clean_Description
0,2016-01-01,Country_01,1,Mining,1,4,Male,Third Party,Pressed,While removing the drill rod of the Jumbo 08 f...,2016,1,1,Friday,First,Low,High,"While removing drill rod Jumbo 08 maintenance,..."
1,2016-01-02,Country_02,2,Mining,1,4,Male,Employee,Pressurized Systems,During the activation of a sodium sulphide pum...,2016,1,2,Saturday,First,Low,High,"During activation sodium sulphide pump, piping..."
2,2016-01-06,Country_01,3,Mining,1,3,Male,Third Party (Remote),Manual Tools,In the sub-station MILPO located at level +170...,2016,1,6,Wednesday,First,Low,Medium,In sub-station MILPO located level +170 collab...
3,2016-01-08,Country_01,4,Mining,1,1,Male,Third Party,Others,Being 9:45 am. approximately in the Nv. 1880 C...,2016,1,8,Friday,First,Low,Low,Being 9:45 am. approximately Nv. 1880 CX-695 O...
4,2016-01-10,Country_01,4,Mining,4,4,Male,Third Party,Others,Approximately at 11:45 a.m. in circumstances t...,2016,1,10,Sunday,First,High,High,Approximately 11:45 a.m. circumstances mechani...
5,2016-01-12,Country_02,5,Metals,1,3,Male,Third Party (Remote),Pressurized Systems,During the unloading operation of the ustulado...,2016,1,12,Tuesday,First,Low,Medium,During unloading operation ustulado Bag need u...
6,2016-01-16,Country_02,5,Metals,1,3,Male,Employee,Fall prevention (same level),The collaborator reports that he was on street...,2016,1,16,Saturday,First,Low,Medium,The collaborator reports street 09 holding lef...
7,2016-01-17,Country_01,4,Mining,1,3,Male,Third Party,Pressed,"At approximately 04:50 p.m., when the mechanic...",2016,1,17,Sunday,First,Low,Medium,"At approximately 04:50 p.m., mechanic technici..."
8,2016-01-19,Country_02,2,Mining,1,4,Male,Third Party (Remote),Others,Employee was sitting in the resting area at le...,2016,1,19,Tuesday,First,Low,High,Employee sitting resting area level 326 (raise...
9,2016-01-26,Country_01,6,Metals,1,2,Male,Third Party,Chemical substances,At the moment the forklift operator went to ma...,2016,1,26,Tuesday,First,Low,Low,At moment forklift operator went manipulate bi...

In [ ]:

ft_df_Potential = pd.DataFrame(columns=['fasttext_data'])
ft_df_Accident = pd.DataFrame(columns=['fasttext_data'])

ft_df_Potential['fasttext_data'] ='__label__' + ds['Potential Accident Level'].astype(str) + " "+ds['clean_Description']
ft_df_Accident['fasttext_data'] ='__label__' + ds['Accident Level'].astype(str) + " "+ds['clean_Description']


ft_df_Potential

                                         fasttext_data
0    __label__1 While removing drill rod Jumbo 08 m...
1    __label__1 During activation sodium sulphide p...
2    __label__1 In sub-station MILPO located level ...
3    __label__1 Being 9:45 am. approximately Nv. 18...
4    __label__4 Approximately 11:45 a.m. circumstan...
..                                                 ...
420  __label__1 Being approximately 5:00 a.m. appro...
421  __label__1 The collaborator moved infrastructu...
422  __label__1 During environmental monitoring act...
423  __label__1 The Employee performed activity str...
424  __label__1 At 10:00 a.m., assistant cleaned fl...

[425 rows x 1 columns]

In [ ]:
ft_df_Accident

                                         fasttext_data
0    __label__1 While removing drill rod Jumbo 08 m...
1    __label__1 During activation sodium sulphide p...
2    __label__1 In sub-station MILPO located level ...
3    __label__1 Being 9:45 am. approximately Nv. 18...
4    __label__4 Approximately 11:45 a.m. circumstan...
..                                                 ...
420  __label__1 Being approximately 5:00 a.m. appro...
421  __label__1 The collaborator moved infrastructu...
422  __label__1 During environmental monitoring act...
423  __label__1 The Employee performed activity str...
424  __label__1 At 10:00 a.m., assistant cleaned fl...

[425 rows x 1 columns]

In [ ]:
#ft_df = ft_df[['poten_acc_level','description']]

In [ ]:
ft_df_Potential.tail(10)

                                         fasttext_data
415  __label__2 Employee reports removing zinc shee...
416  __label__4 During execution task assembling bo...
417  __label__4 The technician returning activities...
418  __label__1 During field activity AMG project, ...
419  __label__3 After maintenance Boltec 03 level 2...
420  __label__3 Being approximately 5:00 a.m. appro...
421  __label__2 The collaborator moved infrastructu...
422  __label__2 During environmental monitoring act...
423  __label__2 The Employee performed activity str...
424  __label__2 At 10:00 a.m., assistant cleaned fl...

In [ ]:
ft_df_Accident.tail(10)

                                         fasttext_data
415  __label__1 Employee reports removing zinc shee...
416  __label__3 During execution task assembling bo...
417  __label__1 The technician returning activities...
418  __label__1 During field activity AMG project, ...
419  __label__1 After maintenance Boltec 03 level 2...
420  __label__1 Being approximately 5:00 a.m. appro...
421  __label__1 The collaborator moved infrastructu...
422  __label__1 During environmental monitoring act...
423  __label__1 The Employee performed activity str...
424  __label__1 At 10:00 a.m., assistant cleaned fl...

In [ ]:

%cd '/content/gdrive/My Drive/NLP_Capstone_Project/'


ft_df_Potential.to_csv(r'fasttext_industrial_Potential.txt', index=False, sep=' ', header=False, quoting=csv.QUOTE_NONE, quotechar="", escapechar=" ")

ft_df_Accident.to_csv(r'fasttext_industrial_Accident.txt', index=False, sep=' ', header=False, quoting=csv.QUOTE_NONE, quotechar="", escapechar=" ")

/content/gdrive/My Drive/NLP_Capstone_Project

In [ ]:
!head fasttext_industrial_Potential.txt

__label__4  While  removing  drill  rod  Jumbo  08  maintenance,  supervisor  proceeds  loosen  support  intermediate  centralizer  facilitate  removal,  seeing  mechanic  supports  one  end  drill  equipment  pull  hands  bar  accelerate  removal  this,  moment  bar  slides  point  support  tightens  fingers  mechanic  drilling  bar  beam  jumbo.
__label__4  During  activation  sodium  sulphide  pump,  piping  uncoupled  sulfide  solution  designed  area  reach  maid.  Immediately  made  use  emergency  shower  directed  ambulatory  doctor  later  hospital.  Note:  sulphide  solution  =  48  grams  /  liter.
__label__3  In  sub-station  MILPO  located  level  +170  collaborator  excavation  work  pick  (hand  tool),  hitting  rock  flat  part  beak,  bounces  hitting  steel  tip  safety  shoe  metatarsal  area  the  left  foot  collaborator  causing  injury.
__label__1  Being  9:45  am.  approximately  Nv.  1880  CX-695  OB7,  personnel  begins  task  unlocking  Soquet  bolts  BHB  machine,  penultimate  bolt  identified  hexagonal  head  worn,  proceeding  Mr.  Cristbal  -  Auxiliary  assistant  climb  platform  exert  pressure  hand  "DADO"  key,  prevent  coming  bolt;  moments  two  collaborators  rotate  lever  anti-clockwise  direction,  leaving  key  bolt,  hitting  palm  left  hand,  causing  injury.
__label__4  Approximately  11:45  a.m.  circumstances  mechanics  Anthony  (group  leader),  Eduardo  Eric  Fernndez-injured-the  three  Company  IMPROMEC,  performed  removal  pulley  motor  pump  3015  ZAF  Marcy.  27  cm  /  Length:  33  cm  /  Weight:  70  kg),  locked  proceed  heating  pulley  loosen  it,  comes  falls  distance  1.06  meters  high  hits  instep  right  foot  worker,  causing  injury  described.
__label__3  During  unloading  operation  ustulado  Bag  need  unclog  discharge  mouth  silo  truck.  In  performing  procedure,  maneuver  unhooking  hose  without  total  depressurisation  mouth,  projecting  ustulado  powder  collaborator  caused  irritation  eyes.
__label__3  The  collaborator  reports  street  09  holding  left  hand  volumetric  balloon,  slipped  placing  hand  ground  volumetric  balloon  ended  breaking  caused  small  wound  left  hand.
__label__3  At  approximately  04:50  p.m.,  mechanic  technician  Jos  Tecnomin  verified  transmission  belts  HM-100  pump  Acid  plant,  proceeded  turn  pulley  manually;  unexpectedly  instant  electrician  supervisor  Miguel  EKA  Mining  grabs  transmission  belts  verify  tension,  point  finger  traps.
__label__4  Employee  sitting  resting  area  level  326  (raise  bore),  suffered  sudden  illness,  falling  suffering  excoriation  face.
__label__2  At  moment  forklift  operator  went  manipulate  big  bag  bioxide  section  70  front  ladder  leads  area  manual  displacement,  splashed  spent  height  forehead  fissure  pipe  G  -069,  subsequently  spilling  left  eye.  The  collaborator  went  nearby  eyewash  cleaning  immediately  medical  center.

In [ ]:
!head fasttext_industrial_Accident.txt

__label__1  While  removing  drill  rod  Jumbo  08  maintenance,  supervisor  proceeds  loosen  support  intermediate  centralizer  facilitate  removal,  seeing  mechanic  supports  one  end  drill  equipment  pull  hands  bar  accelerate  removal  this,  moment  bar  slides  point  support  tightens  fingers  mechanic  drilling  bar  beam  jumbo.
__label__1  During  activation  sodium  sulphide  pump,  piping  uncoupled  sulfide  solution  designed  area  reach  maid.  Immediately  made  use  emergency  shower  directed  ambulatory  doctor  later  hospital.  Note:  sulphide  solution  =  48  grams  /  liter.
__label__1  In  sub-station  MILPO  located  level  +170  collaborator  excavation  work  pick  (hand  tool),  hitting  rock  flat  part  beak,  bounces  hitting  steel  tip  safety  shoe  metatarsal  area  the  left  foot  collaborator  causing  injury.
__label__1  Being  9:45  am.  approximately  Nv.  1880  CX-695  OB7,  personnel  begins  task  unlocking  Soquet  bolts  BHB  machine,  penultimate  bolt  identified  hexagonal  head  worn,  proceeding  Mr.  Cristbal  -  Auxiliary  assistant  climb  platform  exert  pressure  hand  "DADO"  key,  prevent  coming  bolt;  moments  two  collaborators  rotate  lever  anti-clockwise  direction,  leaving  key  bolt,  hitting  palm  left  hand,  causing  injury.
__label__4  Approximately  11:45  a.m.  circumstances  mechanics  Anthony  (group  leader),  Eduardo  Eric  Fernndez-injured-the  three  Company  IMPROMEC,  performed  removal  pulley  motor  pump  3015  ZAF  Marcy.  27  cm  /  Length:  33  cm  /  Weight:  70  kg),  locked  proceed  heating  pulley  loosen  it,  comes  falls  distance  1.06  meters  high  hits  instep  right  foot  worker,  causing  injury  described.
__label__1  During  unloading  operation  ustulado  Bag  need  unclog  discharge  mouth  silo  truck.  In  performing  procedure,  maneuver  unhooking  hose  without  total  depressurisation  mouth,  projecting  ustulado  powder  collaborator  caused  irritation  eyes.
__label__1  The  collaborator  reports  street  09  holding  left  hand  volumetric  balloon,  slipped  placing  hand  ground  volumetric  balloon  ended  breaking  caused  small  wound  left  hand.
__label__1  At  approximately  04:50  p.m.,  mechanic  technician  Jos  Tecnomin  verified  transmission  belts  HM-100  pump  Acid  plant,  proceeded  turn  pulley  manually;  unexpectedly  instant  electrician  supervisor  Miguel  EKA  Mining  grabs  transmission  belts  verify  tension,  point  finger  traps.
__label__1  Employee  sitting  resting  area  level  326  (raise  bore),  suffered  sudden  illness,  falling  suffering  excoriation  face.
__label__1  At  moment  forklift  operator  went  manipulate  big  bag  bioxide  section  70  front  ladder  leads  area  manual  displacement,  splashed  spent  height  forehead  fissure  pipe  G  -069,  subsequently  spilling  left  eye.  The  collaborator  went  nearby  eyewash  cleaning  immediately  medical  center.

In [ ]:
!wc fasttext_industrial_Potential.txt

   425  16137 131028 fasttext_industrial_Potential.txt

In [ ]:
%cd '/content/gdrive/My Drive/NLP_Capstone_Project/'
!head -n 340 fasttext_industrial_Potential.txt > ft_ind_Potential.train
!tail -n 85 fasttext_industrial_Potential.txt > ft_ind_Potential.valid

/content/gdrive/My Drive/NLP_Capstone_Project

In [ ]:
!wc fasttext_industrial_Accident.txt

   425  16137 131028 fasttext_industrial_Accident.txt

In [ ]:
%cd '/content/gdrive/My Drive/NLP_Capstone_Project'
!head -n 340 fasttext_industrial_Accident.txt > ft_ind_Accident.train
!tail -n 85 fasttext_industrial_Accident.txt > ft_ind_Accident.valid

/content/gdrive/My Drive/NLP_Capstone_Project

In [ ]:
#fasttext supervised -input fasttext_industrial_data.train -output model_ind_preventive
#fasttext supervised -input ft_ind_data.train -output ft_model

ft_model_Potential = fasttext.train_supervised(input="ft_ind_Potential.train")

In [ ]:
ft_model_Accident = fasttext.train_supervised(input="ft_ind_Accident.train")

In [ ]:
ft_model_Potential.save_model("ft_model_Potential.bin")

In [ ]:
ft_model_Accident.save_model("ft_model_Accident.bin")

In [ ]:
ft_model_Potential.predict("accident")

(('__label__3',), array([0.16712524]))

In [ ]:
ft_model_Accident.predict("accident")

(('__label__1',), array([0.2177268]))

In [ ]:
ft_model_Potential.predict("At 14:16, the operator Samuel was about to open the container for its subsequent loading with silver concentrate,")

(('__label__3',), array([0.16676922]))

In [ ]:
ft_model_Accident.predict("At 14:16, the operator Samuel was about to open the container for its subsequent loading with silver concentrate,")

(('__label__1',), array([0.20445733]))

In [ ]:
ft_model_Potential.predict("operator of the G-2142 deslaminadora in section 75 was unlocking a sheet of zinc stuck")

(('__label__3',), array([0.16677964]))

In [ ]:
ft_model_Accident.predict("operator of the G-2142 deslaminadora in section 75 was unlocking a sheet of zinc stuck")

(('__label__1',), array([0.20405954]))

In [ ]:
ft_model_Potential.test("ft_ind_Potential.valid")

(85, 0.24705882352941178, 0.24705882352941178)

In [ ]:
ft_model_Accident.test("ft_ind_Accident.valid")

(85, 0.7411764705882353, 0.7411764705882353)

In [ ]:
#ft_model.test("ft_ind_data.valid", k=5)

In [ ]:
ft_model_Potential.predict("operator of the G-2142", k=5)

(('__label__3', '__label__4', '__label__2', '__label__1', '__label__5'),
 array([0.1669745 , 0.16694419, 0.16682468, 0.16650204, 0.16645034]))

In [ ]:
ft_model_Accident.predict("operator of the G-2142", k=5)

(('__label__1', '__label__2', '__label__3', '__label__4', '__label__5'),
 array([0.21255091, 0.19774652, 0.19704233, 0.1968548 , 0.19585538]))

In [ ]:
cat fasttext_industrial_Potential.txt | sed -e "s/\([.\!?,'/()]\)/ \1 /g" | tr "[:upper:]" "[:lower:]" > fasttext_ind_prepro_Potential.txt

In [ ]:
cat fasttext_industrial_Accident.txt | sed -e "s/\([.\!?,'/()]\)/ \1 /g" | tr "[:upper:]" "[:lower:]" > fasttext_ind_prepro_Accident.txt

In [ ]:
!head -n 340 fasttext_ind_prepro_Potential.txt > ft_ind_Potential.train.train
!tail -n 85 fasttext_ind_prepro_Potential.txt > ft_ind_Potential.valid

In [ ]:
!head -n 340 fasttext_ind_prepro_Accident.txt > ft_ind_Accident.train
!tail -n 85 fasttext_ind_prepro_Accident.txt > ft_ind_Accident.valid

In [ ]:
ft_model_Potential = fasttext.train_supervised(input="ft_ind_Potential.train")
ft_model_Accident = fasttext.train_supervised(input="ft_ind_Accident.train")

In [ ]:
ft_model = fasttext.train_supervised(input="ft_ind_data.train", epoch=25)

In [ ]:
ft_model_Potential.test("ft_ind_Potential.valid")

(85, 0.21176470588235294, 0.21176470588235294)

In [ ]:
ft_model_Accident.test("ft_ind_Accident.valid")

(85, 0.7411764705882353, 0.7411764705882353)

## **With Hyper parameters tuning with below code such as EPOC,Learnign Rate,Word_grams, hierarchical softmax and Multi label(just tried)**

In [ ]:
ft_model_Potential = fasttext.train_supervised(input="ft_ind_Potential.train", lr=0.9)

In [ ]:
ft_model_Accident = fasttext.train_supervised(input="ft_ind_Accident.train", lr=0.9)

In [ ]:
ft_model_Potential.test("ft_ind_Potential.valid")

(85, 0.32941176470588235, 0.32941176470588235)

In [ ]:
ft_model_Accident.test("ft_ind_Accident.valid")

(85, 0.7411764705882353, 0.7411764705882353)

In [ ]:
#With both Lr and EPOC combined
ft_model_Potential = fasttext.train_supervised(input="ft_ind_Potential.train", lr=0.9, epoch=25)

In [ ]:
ft_model_Accident = fasttext.train_supervised(input="ft_ind_Accident.train", lr=0.9, epoch=25)

In [ ]:
ft_model_Potential.test("ft_ind_Potential.valid")

(85, 0.36470588235294116, 0.36470588235294116)

In [ ]:
ft_model_Accident.test("ft_ind_Accident.valid")

(85, 0.6941176470588235, 0.6941176470588235)

In [ ]:
#With WordNGrams
ft_model_Potential = fasttext.train_supervised(input="ft_ind_Potential.train", lr=0.8, epoch=25, wordNgrams=2)
ft_model_Accident = fasttext.train_supervised(input="ft_ind_Accident.train", lr=0.8, epoch=25, wordNgrams=2)

In [ ]:
ft_model_Potential.test("ft_ind_Potential.valid")

(85, 0.3058823529411765, 0.3058823529411765)

In [ ]:
ft_model_Accident.test("ft_ind_Accident.valid")

(85, 0.7294117647058823, 0.7294117647058823)

In [ ]:
# With hierarchical softmax
ft_model_Potential = fasttext.train_supervised(input="ft_ind_Potential.train", lr=0.7, epoch=25, wordNgrams=2, bucket=200000, dim=50, loss='hs')
ft_model_Accident = fasttext.train_supervised(input="ft_ind_Accident.train", lr=0.7, epoch=25, wordNgrams=2, bucket=200000, dim=50, loss='hs')

In [ ]:
ft_model_Potential.test("ft_ind_Potential.valid")

(85, 0.29411764705882354, 0.29411764705882354)

In [ ]:
ft_model_Accident.test("ft_ind_Accident.valid")

(85, 0.7176470588235294, 0.7176470588235294)

In [ ]:
# Juat tried with Multi labels too
ft_model_Potential = fasttext.train_supervised(input="ft_ind_Potential.train", lr=0.5, epoch=25, wordNgrams=2, bucket=200000, dim=50, loss='ova')
ft_model_Accident = fasttext.train_supervised(input="ft_ind_Accident.train", lr=0.5, epoch=25, wordNgrams=2, bucket=200000, dim=50, loss='ova')

In [ ]:
ft_model_Potential.test("ft_ind_Potential.valid")

(85, 0.3058823529411765, 0.3058823529411765)

In [ ]:
ft_model_Accident.test("ft_ind_Accident.valid")

(85, 0.7411764705882353, 0.7411764705882353)

In [ ]:
ft_model_Potential.predict("overheating of 2 bars in row 5 of cell 7 a spark is produced", k=-1, threshold=0.5)

((), array([], dtype=float64))

In [ ]:
ft_model_Accident.predict("overheating of 2 bars in row 5 of cell 7 a spark is produced", k=-1, threshold=0.5)

(('__label__1',), array([0.86340165]))

In [ ]:
ft_model_Potential.test("ft_ind_Potential.valid")

(85, 0.3058823529411765, 0.3058823529411765)

In [ ]:
ft_model_Accident.test("ft_ind_Accident.valid")

(85, 0.7411764705882353, 0.7411764705882353)